<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('#table_one_selector').change(function () {
      getAttrs($(this), '#attr_one_selector');
    });
    $('#table_two_selector').change(function () {
      getAttrs($(this), '#attr_two_selector');
    });
    function getAttrs(t, attr_id) {
      $.ajax({
        url: "<%= oracle_attrs_path %>",
        type: "GET",
        dataType: "json",
        data: {table: t.find('option:selected').text()},
        complete: function () {
        },
        success: function (data, test_staus, xhr) {
          var attrs = data.response;
          var options = '';
          for (var i = 0; i < attrs.length; i++) {
            options += '<option value="' + attrs[i] + '">' + attrs[i] + '</option>';
          }
          var attr_selector = $(attr_id);
          attr_selector.empty();
          attr_selector.append(options);
        }
      })
    }
  })
</script>
<%= bootstrap_form_tag url: selector_table_path, method: :post do |f| %>


    <%= f.select(:table1, options_for_select(@options_table), {label: 'Selecione a tabela principal' }, {id: 'table_one_selector' }) %>
    <%= f.select(:attr1, options_for_select([]), { label: 'Selecione o atributo a ser unido' }, { id: 'attr_one_selector' }) %>

    <%= f.select(:table2, options_for_select(@options_table), {label: 'Selecione a tabela estrangeira' }, {id: 'table_two_selector' }) %>
    <%= f.select(:attr2, options_for_select([]), { label: 'Selecione o atributo referenciado' }, { id: 'attr_two_selector' }) %>

    <%= f.form_group :embed do %>
        <%= f.label :embed_0 do %>
            Usar Referencia
            <%= radio_button_tag :embed, 0, checked: true %>
        <% end %>
        <%= label_tag :embed_1 do %>
            Usar 'Embedding'
        <%= radio_button_tag :embed, 1 %>
        <% end %>
    <% end %>

    <%= f.form_group do %>
      <%= check_box_tag(:run) %>
      <%= f.label 'Criar coleção no MongoDB' %>
    <% end %>

    <%= f.primary 'Gerar script MongoDB' %>



<% end %>
